<nav class="navbar">
    <a routerLink="/" class="navbar-brand">Logo</a>
    <ul class="nav">
        <li class="nav-item">
            <a routerLink="/forms" class="nav-link">Forms</a>
        </li>
        <li class="nav-item">
            <a routerLink="/parent" class="nav-link">Parent</a>
        </li>
        <li class="nav-item">
            <a routerLink="/material" class="nav-link">Material</a>
        </li>
        <li class="nav-item">
            <a routerLink="/post" class="nav-link">Create Post</a>
        </li>
    </ul>
</nav>
